<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pixelpets"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.cakeandturtles.pixelpets.PPApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cakeandturtles.pixelpets.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.GardenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_garden"
            android:parentActivityName="com.cakeandturtles.pixelpets.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pixelpets.MainActivity" />
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.ViewStatsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_view_stats"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.AdventureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_adventure"
            android:parentActivityName="com.cakeandturtles.pixelpets.WorldMapActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pixelpets.WorldMapActivity" />
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.TrainingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_training"
            android:parentActivityName="com.cakeandturtles.pixelpets.WorldMapActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pixelpets.WorldMapActivity" />
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.ManageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_manage"
            android:parentActivityName="com.cakeandturtles.pixelpets.GardenActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pixelpets.GardenActivity" />
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.PickBattlePetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_pick_battle_pet"
            android:parentActivityName="com.cakeandturtles.pixelpets.TrainingActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pixelpets.TrainingActivity" />
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.InventoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_inventory"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.UseItemActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_use_item"
            android:parentActivityName="com.cakeandturtles.pixelpets.InventoryActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pixelpets.InventoryActivity" />
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.CodexActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_codex"
            android:parentActivityName="com.cakeandturtles.pixelpets.GardenActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pixelpets.GardenActivity" />
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.WorldMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_world_map"
            android:parentActivityName="com.cakeandturtles.pixelpets.GardenActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pixelpets.GardenActivity" />
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.DaycareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_daycare"
            android:parentActivityName="com.cakeandturtles.pixelpets.ManageActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pixelpets.ManageActivity" />
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.DaycareViewStatsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_daycare_view_stats"
            android:parentActivityName="com.cakeandturtles.pixelpets.DaycareActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pixelpets.DaycareActivity" />
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.SwapPartyEggActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_swap_party_egg"
            android:parentActivityName="com.cakeandturtles.pixelpets.WorldMapActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pixelpets.WorldMapActivity" />
        </activity>
        <activity
            android:name="com.cakeandturtles.pixelpets.LearnNewMoveActivity"
            android:label="@string/title_activity_learn_new_move" >
        </activity>
    </application>

</manifest>
